<footer class="footer">
    <div class="container footer__container">
        <ul class="links">
            <li class="links__item">
                <h3 class="links__item--title">Ссылки</h3>
            </li>
            <li class="links__item">
                <a class="links__item--text links__item--link" href="{{ links.links.github }}">Github</a>
            </li>
            <li class="links__item">
                <a class="links__item--text links__item--link" href="{{ links.links.vk }}">VK</a>
            </li>
        </ul>
        <ul class="links">
            <li class="links__item">
                <h3 class="links__item--title">О сайте</h3>
            </li>
            <li class="links__item">
                <p class="links__item--text">Код <a class="links__item--text links__item--link" href="{{ links.links.solin }}">@mentalsolin</a></p>
            </li>
            <li class="links__item">
                <p class="links__item--text">Дизайн <a class="links__item--text links__item--link" href="{{ links.links.solin }}">@mentalsolin</a>, <a class="links__item--text links__item--link" href="{{ links.footer.telephonkin }}">@telephonkin</a></p>
            </li>
            <li class="links__item">
                <p class="links__item--text">Работает на <a class="links__item--text links__item--link" href="{{ links.footer.11ty }}">11ty</a></p>
            </li>
        </ul>
        <p class="footer__copyright">Copyright © mentalsolin</p>
    </div>
</footer>
