<footer class="footer">
    <div class="container footer__container">
                <ul class="links">
            <li class="links__item">
                <h3 class="links__item--title">AD</h3>
            </li>
            <li class="links__item">
                <a class="links__item--text links__item--link" href="{{ links.advertisement.letsplay }}">Let's Play Discord Server</a>
            </li>
        </ul>
        <ul class="links">
            <li class="links__item">
                <h3 class="links__item--title">Links</h3>
            </li>
            <li class="links__item">
                <a class="links__item--text links__item--link" href="{{ links.links.github }}">Github</a>
            </li>
            <li class="links__item">
                <a class="links__item--text links__item--link" href="{{ links.links.donation }}">Donate</a>
            </li>
        </ul>
        <ul class="links">
            <li class="links__item">
                <h3 class="links__item--title">Credits</h3>
            </li>
            <li class="links__item">
                <p class="links__item--text">Coded by <a class="links__item--text links__item--link" href="{{ links.links.solin }}">mentalsolin</a></p>
            </li>
            <li class="links__item">
                <p class="links__item--text">Design <a class="links__item--text links__item--link" href="{{ links.links.solin }}">mentalsolin</a>, <a class="links__item--text links__item--link" href="{{ links.footer.telephonkin }}">Telephonkin</a></p>
            </li>
            <li class="links__item">
                <p class="links__item--text">Worked on <a class="links__item--text links__item--link" href="{{ links.footer.11ty }}">11ty</a></p>
            </li>
        </ul>
        <p class="footer__copyright">Copyright © mentalsolin</p>
    </div>
</footer>
