<div class="container">
    <header class="header">
        <img class="header__logo" src="/images/icons/logo.svg" alt="@">
        <p class="header__title">mentalsolin</p>
        <a class="header__link" href="/"></a>
    </header>
</div>
