<div class="navbar">
    <ul class="navbar__list">
        <li class="navbar__list--item">
            <img class="navbar__list--item-icon" src="/images/icons/navbar/home.svg" alt="#">
            <a class="navbar__list--item-link" href="/index.html"></a>
        </li>
        <li class="navbar__list--item">
            <img class="navbar__list--item-icon" src="/images/icons/navbar/article.svg" alt="#">
            <a class="navbar__list--item-link" href="/articles.html"></a>
        </li>
        <li class="navbar__list--item">
            <img class="navbar__list--item-icon" src="/images/icons/navbar/donate.svg" alt="#">
            <a class="navbar__list--item-link" href="{{ links.donate.donation }}"></a>
        </li>
    </ul>
</div>
