.ad-letsplay {
    position: relative;
    background-color: #2F3136;
    display: grid;
    padding: 30px;
    border-radius: 45px;
    grid-template-columns: 30px 1fr;
    align-items: center;
    row-gap: 15px;
    column-gap: 15px;
}

@media (min-width: 810px) {
    .ad-letsplay {
        grid-template-columns: 45px 1fr;
    }    
}

@media (min-width: 1080px) {
    .ad-letsplay {
        margin: 0 100px;
    }
}

.ad-letsplay__img {
    height: 30px;
    grid-row: 1;
    grid-column: 1;
}

@media (min-width: 810px) {
    .ad-letsplay__img {
        height: 45px;
    }
}

.ad-letsplay__title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    grid-row: 1;
    grid-column: 2;
}

@media (min-width: 810px) {
    .ad-letsplay__title {
        font-size: 40px;
        line-height: 45px;
    }
}

.ad-letsplay__bage {
    position: absolute;
    top: 35px;
    border-radius: 30px;
    right: 30px;
    background-color: #fff;
    padding: 9px 12px;
}

@media (min-width: 810px) {
    .ad-letsplay__bage {
        padding: 11px 24px;
        height: 32px;
    }
}

.ad-letsplay__desc {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    grid-row: 2;
    grid-column: 1/3;
}

@media (min-width: 810px) {
    .ad-letsplay__desc {
        font-size: 22px;
        line-height: 35px;
        margin-left: 60px
    }
}

.ad-letsplay__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}