.articles {
    display: flex;
}

.articles__container {
    display: grid;
    row-gap: 60px;
    animation: showArticles 0.8s forwards;
}

@media (min-width: 900px) {
    .articles__container {
        padding: 0 30px;
    }
}

.articles__container--last {

}

.articles__container--all {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 60px;
}

@media (min-width: 900px) {
    .articles__container--all {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 180px;
    }
}

.articles {
    display: grid;
    position: relative;
    row-gap: 30px;
    column-gap: 30px;
    align-items: center;
}

.articles__grid--last {
    grid-template-columns: 1fr;
}

@media (min-width: 900px) {
    .articles__grid--last {
        grid-template-columns: 1fr 1fr;
    }
}

.articles__grid--all {

}

.articles__grid--all:last-child {
    margin-bottom: 0;
}

@media (min-width: 900px) {
    .articles__grid--all {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}

.articles__title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 50px;
    line-height: normal;
    letter-spacing: normal;
}

@media (min-width: 900px) {
    .articles__title {
        font-size: 60px;
        margin-right: 60px;
    }
}

.articles__title--last {
    font-size: 50px;
}

@media (min-width: 900px) {
    .articles__title--last {
        font-size: 85px;
    }
}

.articles__preview {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
}

@media (min-width: 900px) {
    .articles__preview {
        font-size: 18px;
        grid-column: 1;
        margin-right: 60px;
    }
}

.articles__time {
    margin: 15px 0;
    font-weight: 300;
    font-size: 12px;
    font-family: 'JetBrains Mono', sans-serif;
    color: var(--secondary-color);
    margin: 0;
    padding: 0 0 0 30px;
}

@media (min-width: 900px) {
    .articles__time{
        grid-column: 1;
        font-size: 16px;
        width: 100%;
    }
}

.articles__image {
    border-radius: 30px;
    width: 100%;
}

@media (min-width: 900px) {
    .articles__image--all {
        border-radius: 60px;
    }
}

@media (min-width: 900px) {
    .articles__image--last {
        grid-column: 2;
        grid-row: 1/4;
    }
}

.articles__link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* Animations */

@keyframes showArticles {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}