:root {
    --bg-color: #fff;            /* задний фон */
    --bg-secondary-color: #f6f6f6;  /* задний фон (футер, код) */
    --primary-color: #000;       /* текст */
    --secondary-color: #5c5c5c;     /* текст футер */
    --tips-color: #adadad;          /* текст списки */
}
