@keyframes show {
    0% {
        opacity: 20%;
        transform: translateY(20px);
    }
    100% {
        opacity: 100%;
        transform: translateY(1px);
    }
}

.article__heading {
    display: grid;
    row-gap: 20px;
}

.article__heading--time {
    font-weight: 300;
    font-size: 12px;
    font-family: 'JetBrains Mono', sans-serif;
    color: var(--secondary-color);
    animation: show .8s forwards;
}

@media (min-width: 900px) {
    .article__heading--time {
        font-size: 16px;
    }
}

.article__heading--title {
    font-weight: 200;
    font-size: 50px;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Montserrat';
    margin: 0;
    animation: show .6s forwards;
    overflow-wrap: break-word;
}

@media (min-width: 900px) {
    .article__heading--title {
        font-size: 90px;
        line-height: 85px;
    }
}

.article__heading--preview {
    font-size: 14px;
    margin: 0;
    animation: show 1s forwards;
    line-height: normal;
    letter-spacing: normal;
    line-height: 1.6em;
}

@media (min-width: 900px) {
    .article__heading--preview {
        font-size: 22px;
        line-height: 39px;
    }
}

.article__heading--tags {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    color: var(--secondary-color);
    animation: show 1.2s forwards;
    display: inline-block;
    display: flex;
    column-gap: 5px;
}

@media (min-width: 900px) {
    .article__heading--tags {
        font-size: 20px;
    }
}

.article__heading--tags-item {
    background-color: var(--bg-secondary-color);
    padding: 5px 10px;
    border-radius: 30px;
    color: var(--primary-color);
}

@media (min-width: 900px) {
    .article__heading--tags-item {
        padding: 10px 15px;
    }
}

.article__heading--image {
    width: 100%;
    border-radius: 30px;
    margin-top: 30px;
    animation: show 1.6s forwards;
}

@media (min-width: 900px) {
    .article__heading--image {
        border-radius: 60px;
    }
}

.article__heading--link {
    font-weight: 400;
    font-size: 14px;
    text-decoration-line: underline;
    color: var(--primary-color);
    animation: show 1.8s forwards;
}

@media (min-width: 900px) {
    .article__heading--link {
        font-size: 22px;
        width: max-content;
    }
}

.article__container {
    padding: 0;
}

@media (min-width: 900px) {
    .article__container {
        padding: 0 30px;
    }
}


/* Notice */

.notice {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
}

.notice__link {
    color: var(--primary-color);
    font-size: 26px;
    text-decoration: none;
}

@media (min-width: 900px) {
    .notice__link {
        font-size: 28px;
    }
}

.notice__link:hover {
    text-decoration: underline;
}


/* Content */

.content {
    padding-top: 40px;
}

.content h2, .content h3, .content h4 {
    letter-spacing: 0.1em;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
}

.content h2 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 30px;
    word-wrap: break-word;
}

@media (min-width: 900px) {
    .content h2 {
        font-size: 55px;
    }
}

.content h3 {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 10px;
}

@media (min-width: 900px) {
    .content h3 {
        font-size: 35px;
    }
}

.content p, li, a {
    font-size: 14px;
    line-height: 1.6em;
}

@media (min-width: 900px) {
    .content p, li {
        font-size: 22px;
        line-height: 1.8em;
    }
}

.content a {
    color: var(--primary-color);
}

@media (min-width: 900px) {
    .content a {
        font-size: 22px;
    }
}

.content a {
    font-weight: 500;
}

/* Lists */

.content ol,
.content ul {
    margin-top: 10px;
    margin-bottom: 29px;
    padding-left: 0;
    list-style: none;
}

.content li ul,
.content li ol {
    margin-bottom: 0;
}

@media (min-width: 900px) {
    .content ol,
    .content ul {
        margin-top: 19px;
        margin-bottom: 57px;
    }
}

.content li {
    position: relative;
    margin-top: 30px;
}

/* Unordered Lists */

.content ul > li,
.content ol > li {
    padding-left: 30px;
}

@media (min-width: 900px) {
    .content ol > li,
    .content ul > li {
        padding-left: 42px;
    }
}

.content ul > li::before {
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    color: var(--tips-color);
    font-size: 20px;
    font-stretch: expanded;
    content: '—';
}

@media (min-width: 900px) {
    .content ul > li::before {
        top: -2px;
        font-size: 22px;
    }
}

/* Ordered Lists */

.content ol {
    counter-reset: list;
}

.content ol > li::before {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--tips-color);
    font-size: 14px;
    font-stretch: expanded;
    counter-increment: list;
    content: counter(list);
}

@media (min-width: 900px) {
    .content ol > li::before {
        font-size: 22px;
    }
}

/* Figures */

.content figure {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.content figcaption {
    font-size: 0.8em;
}

@media (min-width: 900px) {
    .content figure {
        margin: 60px 0;
    }
}

/* Images */

.content p img {
    margin-top: 30px;
}

.content img,
.content video {
    display: block;
    width: 100%;
    height: auto;
    margin: 16px 0 8px;
    border-radius: 30px;
}

@media (min-width: 900px) {
    .content img,
    .content video {
        margin: 60px 0;
    }

    .content figure img {
        margin: 0 auto;
        width: max-content;
    }
}

.content figcaption {
    font-size: 16px;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 15px;
}

@media (min-width: 900px) {
    .content figcaption {
        font-size: 18px;
    }
}

/* Quotes */

.content blockquote {
    position: relative;
    margin: 15px;
    padding: 5px 15px;
    color: black;
    font-size: 18px;
}

@media (min-width: 900px) {
    .content blockquote {
        font-size: 32px;
        margin: 30px;
        padding: 5px 30px;
    }
}

.content blockquote::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background-color: var(--tips-color);
    content: '';
}

@media (min-width: 900px) {
    .content blockquote::before {
        top: 0.5em;
        bottom: 0.5em;
        width: 3px;
    }
}

/* Code */

.content code {
    padding-right: 0.3em;
    padding-left: 0.3em;
    font-family: 'JetBrains Mono', monospace;
    word-wrap: break-word;
}

.content pre {
    position: relative;
    display: grid;
    background-color: var(--bg-secondary-color);
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    scroll-behavior: smooth;
}

.content pre code {
    font-size: 14px;
    line-height: 1.6em;
    display: block;
    padding: 16px 0;
    overflow-x: auto;
    scrollbar-width: thin;
    user-select: all;
}

@media (min-width: 900px) {
    .content pre code {
        font-size: 24px;
    }
}

.content pre::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 76px;
    content: '';
    pointer-events: none;
}

.content pre code:focus {
    animation: code-select 100ms step-end forwards;
}

@keyframes code-select {
    to {
        user-select: text;
    }
}

@media (min-width: 900px) {
    .content pre code {
        padding: 30px 0;
    }
}

/* Tables */

.content__table-wrapper {
    margin-top: 16px;
    margin-bottom: 24px;
    overflow-x: auto;
}

.content table {
    width: 100%;
    border-collapse: collapse;
}

.content table caption {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
}

.content thead {
    background-color: var(--color-green-light);
    background-image: linear-gradient(
        to right,
        var(--color-green-light) 0%,
        var(--color-blue-lightest) 100%
    );
}

.content tr {
    border-bottom: 1px solid var(--secondary-color);
}

.content th,
.content td {
    padding: 16px 0;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    font-size: 20px;
}

.content th {
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 900px) {
    .content th,
    .content td {
        font-size: 22px;
    }
}

.content tr > * + * {
    padding-left: 16px;
}

.content strong {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}