.footer__container {
    display: grid;
    row-gap: 30px;
    padding: 30px;
}

.links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: normal;
}

.links__item {
    line-height: normal;
    margin-top: 5px;
}

.links__item--title {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 24px;
    line-height: normal;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 900px) {
    .links__item--title {
        font-size: 35px;
        margin-bottom: 20px;
    }
}

.links__item--link {
    font-size: 14px;
    line-height: normal;
    color: var(--secondary-color);
}

@media (min-width: 900px) {
    .links__item--link {
        font-size: 22px;
    }
}

.links__item--text {
    font-size: 14px;
    padding: 2px 0;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--secondary-color);
}

@media (min-width: 900px) {
    .links__item--text {
        font-size: 22px;
        margin-top: 10px;
    }
}

.footer__copyright {
    font-size: 14px;
    color: var(--secondary-color);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
    margin: 0;
}

@media (min-width: 900px) {
    .footer__copyright {
        font-size: 22px;
    }
}