.footer {
    margin-top: 60px;
}

.footer__container {
    display: grid;
    row-gap: 30px;
    padding: 30px 30px 30px 30px;
    background-color: var(--bg-secondary);
}

@media (min-width: 810px) {
    .footer__container {
        padding: 60px 30px 60px 30px;
    }
}

.footer__container--solin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer--solin {
    background-color: var(--bg-secondary);
}

.about {
    max-width: 600px;
    font-size: 14px;
}

@media (min-width: 810px) {
    .about {
        font-size: 16px;
    }
}

.about__desc {
    color: var(--secondary);
    margin: 0;
}

@media (min-width: 810px) {
    .about__desc {
        font-size: 16px;
    }
}

.links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    margin: 15px 0 0 0;
}

.links__item {
    font-size: 14px;
    display: inline-block;
    margin-right: 8px;
}

.links__item:last-child {
    margin-right: 0;
}

@media (min-width: 810px) {
    .links__item {
        font-size: 16px;
    }
}

.links__item--link {
    color: var(--secondary);
}

@media (min-width: 810px) {
    .links__item--link {
        font-size: 16px;
    }
}

.solin {
    display: flex;
    height: 24px;
}

.solin-logo {
    margin-bottom: 10px;
    display: inline block;
    fill: var(--primary);
}

@media (min-width: 810px) {
    .solin-logo {
        margin-bottom: 0;
    }
}

.solin-text {
    margin: 0;
    display: inline block;
    margin-right: 15px;
}

.solin-text:last-child {
    margin-right: 0;
}

.solin-link {
    color: var(--primary);
    font-size: 14px;
}

.solin-link-logo {
    margin-right: 30px;
}

@media (min-width: 810px) {
    .solin-link {
        font-size: 16px;
    }
}