.header {
    position: fixed;
    padding: 0 30px;
    width: 100%;
    background-color:rgba(227, 219, 215, 0.6);
    backdrop-filter:blur(10px);
    z-index: 1000;
}

.header__title {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 22px;
}

.header__title--link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
