.header {
    position: fixed;
    width: 100%;
    background-color: var(--bg-header);
    backdrop-filter:blur(15px);
    z-index: 1000;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

@media (min-width: 1200px) {
    .header {
        width: 1200px;
    }
}

.logo {
    position: relative;
    margin-left: 30px;
    height: 30px;
    transition: 0.2s;
    z-index: 1001;
}

.logo:hover {
    transform: scale(1.1);
}

.logo__image {
    height: 100%;
    grid-column: 1;
    align-self: center;
    transition: 0.2s;
}

.logo__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.palette {
    display: flex;
    column-gap: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-right: 30px;
}

.palette__item {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    transition: border 0.15s;
    cursor: pointer;
}

.palette__item:hover {
    border: 3px solid #212121;
}

.palette__item--active {
    border: 3px solid #212121;
}

.palette__item--peach {
    background-color: #FFF6F5;
}

.palette__item--mint {
    background-color: #e5eedf;
}

.palette__item--lily {
    background-color: #CEB9DE;
}

.palette__item--cyan {
    background-color: #8CC9D1;
}