.lop__container {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 900px) {
    .lop__container {
        padding: 0 30px;
    }
}

.lop__heading-title:first-child {
    margin-top: 0;
}

.lop__heading-title {
    font-weight: 500;
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 30px;
}

@media (min-width: 900px) {
    .lop__heading-title {
        font-size: 28px;
    }
}

.lop {
    display: grid;
    position: relative;
    margin-bottom: 60px;
}

.lop__image {
    border-radius: 30px;
    width: 100%;
}

.lop__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0 30px;
}

@media (min-width: 900px) {
    .lop__title {
        font-size: 26px;
    }
}

.lop__preview {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0 30px;
}

@media (min-width: 900px) {
    .lop__preview {
        font-size: 22px;
    }
}

.lop__link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.lop__wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 900px) {
    .lop__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
    }
}