.page {
    scroll-behavior: smooth;
    background-color: var(--bg-color);
}

.page__body {
    margin: 0;
    letter-spacing: 0.04em;
    font-family: 'Inter', sans-serif;
    line-height: 1.6em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.main {
    padding: 180px 30px 60px 30px;
}

@media (min-width: 900px) {
    .main {
        padding: 220px 0 60px 0;
    }
}

.main__nm {
    padding-top: 60px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--primary-color);
}

.container__inner {
    width: 100%;
    max-width: 800px;
}

h2, h3, h4 {
    scroll-margin-block-start: 100px;
}