<div class="ad-letsplay">
    <img class="ad-letsplay__img" src="/images/ads/letsplay/logo.svg" alt="letsplay">
    <p class="ad-letsplay__title">Let's Play</p>
    <img class="ad-letsplay__bage" src="/images/ads/letsplay/bage.svg" alt="discord">
    <p class="ad-letsplay__desc">Играем в любимые игры, веселимся и делимся новостями из жизни!</p>
    <a class="ad-letsplay__link" href="{{ links.advertisements.letsplay }}"></a>
</div>