@page {
    margin:20mm 15mm;
    size:A4 portrait;
    @bottom-right {
        content:counter(page)
    }
}
*,
::after,
::before    {
    color:#000;
    text-shadow:none!important;
    background:0 0!important;
    box-shadow:none!important;
    widows:2;
    orphans:2
}
h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after:avoid
}

.header, .footer {
    display: none;
}

.article__heading--edit {
    display: none;
}

.notice {
    display: none;
}

.page__body {
    background-color: #fff;
    color: #000;
}

.navbar {
    display: none;
}