:root {
    --main-color: #fff;
    --second-color: #c5c5c5;
    --second-strong-color: #808080;
    --text-color: #000;
    --alternative-text-color: #fff;

    --bar-color: #f0f0f0;

    --accent-color: #0B84FF;
    --black-color: #000;
    --white-color: #fff;
}

.dark {
    --main-color: #202020;
    --second-strong-color: #c5c5c5;
    --text-color: #fff;
    --bar-color: #2b2b2b;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--text-color);
}

h1 {
    font-size: 70px;
    font-weight: 600;
}

h2 {
    font-size: 60px;
    font-weight: 600;
}

h3 {
    font-size: 40px;
    font-weight: 600;
}

span, a, p {
    margin: 0;
    text-decoration: none;
    color: var(--text-color);
}

.material-symbols-outlined {
    font-size: 90px;
    color: var(--second-color);
    user-select: none;
    cursor: default;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.container {
    width: 1360px;
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.container-small {
    width: 1160px;
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.container-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.padding-none {
    padding: 0;
}

    /* Header */

.header {
    width: 100%;
    position: absolute;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    width: 200px;
    height: 100px;
    fill: var(--text-color);
    transition: opacity .2s;
}

.logo:hover {
    opacity: 0.9;
}

.logo-small {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.nav-link {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    padding: 15px;
    transition: .1s;
}

.nav-link:hover {
    color: var(--accent-color);
}

.nav-link:active {
    transform: translate(0, -2px);
}

    /* Main */

.main-title-container {
    width: 1000px;
}

.main-subtitle {
    font-size: 40px;
    font-weight: 500;
    color: var(--second-color);
}

    /* Main -> Arrow */

.main-arrow {
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: center;
}

.main-arrow-animation {
    display: block;
    animation: arrow-down 2.5s infinite;
}

@keyframes arrow-down {
    
    0% {
        transform: translate(0px, 0px);
    }
    17% {
        transform: translate(0px, 5px);
    }
    35% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, 5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}


    /* Projects */

.projects-title {
    width: 1109px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.projects-more {
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -30px;
    color: var(--second-color);
}

.projects-swiper {
    width: 1360px;
    max-width: 100%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
}

.article {
    display: flex;
    flex-wrap: wrap;
}

.article-img {
    height: 320px;
    border-radius: 50px;
    transition: transform .2s;
}

.article-img:hover {
    transform: scale(1.02);
}

.article-content {
    position: relative;
    width: 450px;
    margin-left: 60px;
    padding: 30px 0;
    text-align: left;
}

.article-title {
    font-size: 40px;
    font-weight: 600;
}

.article-desc-project {
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
    font-size: 20px;
    max-height: 196px;
    overflow: hidden;
    text-overflow: unset;
}

.article-desc-project-recent {
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
    font-size: 20px;
    max-height: 196px;
    overflow: hidden;
    text-overflow: unset;
}

.article-more {
    font-size: 20px;
    font-weight: 500;
    color: var(--accent-color);
    position: absolute;
    bottom: 30px;
    right: 0;
}

.projects-slogan {
    font-size: 30px;
    font-weight: 500;
    color: var(--second-color);
}


    /* Social Media */

.social-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-columns {
    width: 50%;
}

.social-title {
    width: 100%;
    margin: 30px 0;
}

.social-bar {
    width: 300px;
    height: 80px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
}

.social-bar:hover {
    transform: scale(1.05);
}

.social-logo {
    height: 60px;
    padding-left: 10px;
    transition: .15s;
}

.social-logo:hover {
    transform: translate(0, -2px);
}

.social-nickname {
    font-size: 35px;
    font-weight: 600;
    padding-right: 20px;
    color: var(--alternative-text-color);
    transition: .15s;
}

.social-nickname:hover {
    transform: translate(0, -2px);
}


    /* Footer */

.footer {
    height: 250px;
    position: relative;
    z-index: 1;
}

.footer-curve {
    height: 50px;
}

.footer-curve-right {
    width: 50px;
    height: 50px;
    background-color: var(--black-color);
    position: absolute;
    right: 0;
    top: 0;
}

.footer-circle-right {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 0 0 50px 0;
}

.footer-curve-left {
    width: 50px;
    height: 50px;
    background-color: var(--black-color);
    position: absolute;
    left: 0;
    top: 0;
}

.footer-circle-left {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 0 0 0 50px;
}

.footer-wrapper {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--black-color);
}

.footer-content {
    height: 200px;
    position: relative;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-faq {
    display: flex;
    justify-content: space-between;
}

.footer-dl {
    margin: 0;
    padding-right: 80px;
}

.footer-dt-title {
    color: var(--white-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
}

.footer-dt-link {
    color: var(--second-color);
    text-decoration: none;
    font-size: 15px;
}

.footer-credits {
    width: 450px;
    text-align: right;
}

.footer-credits-text {
    font-size: 20px;
    color: var(--white-color);
}

.footer-credits-link {
    font-size: inherit;
    color: var(--white-color);
}

.settings {
    position: absolute;
    bottom: 25px;
    right: 0;
    font-size: 40px;
    cursor: pointer;
    transition: .15s;
}

.settings:hover {
    transform: rotate(-45deg);
}

.settings:active {
    transform: rotate(-45deg) scale(1.1);
}

.copyright {
    color: var(--second-color);
    text-align: center;
    margin: 0 auto;
    width: 400px;
}


    /* Pages */

.page-title-container {
    position: absolute;
    top: 0;
    width: 100%;
}

.page-title {
    margin-top: 150px;
    margin-bottom: 30px;
}

    /* Projects Page */

.projects-page-article-wrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.projects-page-article-wrapper:last-child {
    margin: 0;
}


    /* Donate Page */

.donate-page-bar {
    width: 100%;
    height: 60px;
    background-color: var(--bar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.donate-page-bar-small {
    width: 320px;
}

.donate-page-bar-center {
    display: flex;
    align-items: center;
}

.donate-page-icons {
    font-size: 35px;
    margin-left: 10px;
    cursor: pointer;

    transition: .06s;
}

.donate-page-icons:active {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.donate-page-coin {
    font-size: 30px;
    font-weight: 600;
}

.donate-bars-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 20px;
}

.donate-page-address {
    font-family: 'Inconsolata';
    font-size: 16px;
    color: var(--second-strong-color);
}

.danate-page-payments-title {
    font-size: 25px;
    margin-bottom: 10px;
    user-select: none;
    text-align: left;
    width: 100%;
    margin-left: 30px;
}


    /* Modal Window */

.settings-modal.open .modal-bg,
.settings-modal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}

.settings-modal.hide .modal-bg,
.settings-modal.hide .modal-window {
    opacity: 1;
    z-index: 1000;
}

.settings-modal.open .modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

.settings-modal.open .modal-window {
    transform: scale(1);
}

.settings-modal.hide .modal-bg {
    background-color: rgba(0, 0, 0, 0);
}

.settings-modal.hide .modal-window {
    transform: scale(0);
}

.modal-bg, .modal-window {
    opacity: 0;
    z-index: -1;
}

.modal-bg {
    position: fixed;
    top: -30px;
    bottom: -30px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .1s ease-in;
}

.modal-window {
    width: 380px;
    border-radius: 25px;
    background-color: var(--main-color);
    position: relative;
    transform: scale(0);
    transition: transform .1s ease-in;
    margin: 15px;
}

.modal-title-container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.modal-close {
    font-size: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modal-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 15px;
}

.modal-content {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-img {
    border-radius: 25px;
}

.modal-content-title {
    font-size: 30px;
    margin-bottom: 15px;
}

.modal-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-btn {
    background-color: var(--bar-color);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    margin: 15px;
    margin-top: 0;
    cursor: pointer;
    color: var(--text-color);
}


    /* Modal Settings */

.modal-settings-select {
    background-color: var(--bar-color);
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
    margin-top: 10px;
}

.modal-settings-subtitle {
    font-size: 25px;
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
}

.modal-settings-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}