    /* Laptop HiDPI ( Horizontal ) - 1440 */

@media (max-width: 1440px) {
    
        /* Fonts */

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 55px;
    }

    .material-symbols-outlined {
        font-size: 80px;
    }


        /* Main */

    .main-subtitle {
        font-size: 35px;
    }

    .main-title-container {
        width: 850px;
    }

    .nav-link {
        font-size: 25px;
    }


        /* Projects */

    .projects-more {
        margin-top: -28px;
        font-size: 20px;
    }

    .article-title {
        font-size: 35px;
    }

    .article-desc {
        font-size: 20px;
    }

    .article-more {
        font-size: 18px;
    }

    .article-img {
        border-radius: 45px;
    }

    .projects-slogan {
        font-size: 25px;
    }


        /* Social media */

    .social-nickname {
        font-size: 30px;
    }


        /* Footer */

    .footer-dt-title, .footer-credits-text {
        font-size: 18px;
    }

    .settings {
        font-size: 35px;
    }


    /* Donate page */

    .donate-page-icons {
        font-size: 30px;
    }

}

    /* iPad - 1080 ( Horizontal ) */

@media (max-width: 1080px) {
        
        /* Fonts */

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 50px;
    }


        /* Main */

    .main-subtitle {
        font-size: 30px;
    }

    .main-title-container {
        width: 780px;
    }

    .logo {
        width: 180px;
    }

        /* Projects */

    .projects-more {
        margin-top: 5px;
        position: static;
    }

    .projects-title {
        width: 480px;
        flex-wrap: wrap;
    }

    .projects-swiper {
        width: 100%;
        height: 550px;
        cursor: grab;
        padding: 0;
    }

    .article {
        justify-content: center;
    }

    .article-more {
        display: none;
    }

    .article-content {
        margin: 0;
        width: 100%;
    }

    .article-img {
        height: 280px;
        border-radius: 40px;
    }

    .article-title {
        text-align: center;
    }

    .article-desc {
        text-align: center;
    }

        /* projects-swiper */

    .swiper-button-next {
        margin-right: 30px;
    }

    .swiper-button-prev {
        margin-left: 30px;
    }

        /* Social media */

    .social-nickname {
        font-size: 28px;
    }

        /* Footer */
    .footer-dt-title, .footer-credits-text {
        font-size: 16px;
    }

    .settings {
        font-size: 30px;
    }


        /* Donate page */

    .donate-page-icons {
        font-size: 28px;
    }

    .copyright {
        font-size: 15px;
    }

    .donate-page-address {
        text-align: right;
    }

    .donate-page-address {
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

    /* iPad - 810 ( Vertical ) */

@media (max-width: 810px) {

        /* Footer */

    .footer-faq {
        width: 100%;
    }

    .footer-credits {
        display: none;
    }

    .footer-dl:last-child {
        padding: 0;
    }

        /* Donate */

    .donate-page-address {
        width: 250px;
    }

}

    /* iPhone 2 - 411 ( Vertical ) */

@media (max-width: 411px) {

        /* Fonts */

    h1 {
        font-size: 35px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    .material-symbols-outlined {
        font-size: 60px;
    }
    
    
        /* Main */
    
    .main-subtitle {
        font-size: 20px;
    }
    
    .main-title-container {
        width: 350px;
    }
    
    .nav-links {
        width: 200px;
    }

    .nav-link {
        font-size: 18px;
        padding: 10px;
    }

    .logo {
        width: 60px;
    }

    .logo-wide {
        display: none;
    }

    .logo-small {
        display: flex;
    }
    
    
        /* Projects */
    
    .projects-title {
        width: 100%;
    }
    
    .article-content {
        width: 300px;
    }
    
    .article-img {
        height: 175px;
        border-radius: 25px;
    }

    .article-title {
        font-size: 30px;
    }

    .article-desc {
        font-size: 18px;
    }

    .projects-slogan {
        font-size: 20px;
    }
    
        /* projects-swiper */

    .projects-swiper {
        height: 430px;
    }

    .swiper-button-next {
        margin-right: 0;
    }

    .swiper-button-prev {
        margin-left: 0;
    }
    
    
        /* Social media */
    
    .social-columns {
        width: 280px;
    }

    .social-nickname {
        display: none;
    }

    .social-bar {
        width: 80px;
    }
    
    
        /* Footer */
    
    .footer-dl {
        padding-right: 30px;
    }

    .footer-dt-title {
        font-size: 14px;
    }

    .footer-dt-link {
        font-size: 12px;
    }
    
    .settings {
        font-size: 40px;
    }
    
    
    /* Donate page */
    
    .donate-page-icons {
        display: none;
    }

    .donate-page-address {
        display: none;
    }

    .donate-page-bar {
        width: 180px;
        justify-content: center;
    }

    .donate-page-coin {
        font-size: 25px;
    }
}

    /* Pixel 2 - 731 ( Horizontal ) */

@media (max-width: 411px) {


}

@media (max-height: 411px) {

        /* Main */

    .main-arrow-animation {
        display: none;
    }

    .nav-link {
        font-size: 22px;
    }

    .main-title-container {
        margin-top: 30px;
    }

        /* Donate */

    .donate-bars-container {
        margin-top: 100px;
    }

    .page-title-container {
        display: none;
    }

}