---
title: Projects
layout: page.njk
permalink: articles.html
---

<main class="main">
    <div class="articles">
        <h1 class="articles__title">Статьи</h1>
        {# <div class="articles__taglist">
            <a class="articles__taglist--tag" href="#">minecraft</a>
            <a class="articles__taglist--tag" href="#">c++</a>
            <a class="articles__taglist--tag" href="#">web</a>
            <a class="articles__taglist--tag" href="#">java</a>
            <a class="articles__taglist--tag" href="#">python</a>
            <a class="articles__taglist--tag" href="#">js</a>
        </div> #}
        <div class="articles__list">
            {%- for article in collections.article | reverse -%}
            <article class="article">
                <div class="article__container">
                    <time class="article__container--date" datetime="{{ article.date.toISOString() }}">{{ article.date | ruDate }}</time>
                    <h2 class="article__container--title">{{ article.data.title }}</h2>
                    <p class="article__container--tag">{{ article.data.tags | tag }}</p>
                    <a class="article__container--link" href="{{ article.url }}"></a>
                </div>
                <p class="article__desc">{{ article.data.preview }}</p>
            </article>
            {%- endfor -%}
        </div>
    </div>
</main>
