---
title: Solin's Blog
description: Оригинальный бложек mentalsolin'a
language: ru
url: https://blog.solin.me
permalink: feed/index.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>{{ title }}</title>
        <description>{{ description }}</description>
        <language>{{ language }}</language>
        <link>{{ url }}/</link>

        {%- for article in collections.article | reverse  %}
            <lastBuildDate>{{ article.date.toUTCString() }}</lastBuildDate>
        {%- endfor %}

        {%- for article in collections.article | reverse  %}
            <image>
                <url>{{ url }}/images/preview.jpg</url>
                <title>{{ title }}</title>
                <link>{{ url }}</link>
            </image>
        {%- endfor %}

        <atom:link href="{{ url }}/feed/" rel="self" type="application/rss+xml"/>

        {% set anchors = r/<span class="tooltip">.*span>/g %}

        {%- for article in collections.article  %}
            <item>
                <title>{{ article.data.title }}</title>
                <link>{{ url }}{{ article.url }}</link>
                <description>
                    <![CDATA[
                        <p>{{ article.data.preview }}</p>
                        {{ article | fixLinks | replace(anchors, "") | safe }}
                    ]]>
                </description>
                <pubDate>{{ article.date.toUTCString() }}</pubDate>
                <guid>{{ url }}{{ article.url }}</guid>
            </item>
        {%- endfor %}

    </channel>
</rss>