---
title: Solin's Blog
layout: page.njk
permalink: index.html
---

<main class="articles container">
    {%- for article in collections.article | reverse -%}
        <article class="article-card">
            <img class="article-card__img" src="{{ article.url }}images/preview.jpg" alt="{{ article.data.title }}">
            <h2 class="article-card__title">{{ article.data.title }}</h2>
            <p class="article-card__desc">{{ article.data.preview }}</p>
            <time class="article-card__time" datetime="{{ article.date.toISOString() }}">{{ article.date | ruDate }}</time>
            <a class="article-card__link" href="{{ article.url }}"></a>
        </article>
    {%- endfor -%}
</main>
