---
title: Articles
layout: page.njk
permalink: projects.html
---

<main class="main">
    <div class="projects">
        <h1 class="projects__title">Проекты</h1>
        <p class="projects__tag">Websites</p>
        {%- for website in collections.pwebsite | reverse -%}
            <div class="projects__list">
                <article class="project">
                    <img class="project__image" src="{{ website.url }}1.jpg" alt="#">
                    <h2 class="project__title">{{ website.data.title }}</h2>
                    <p class="project__subtitle">{{ website.data.desc }}</p>
                    <a class="project__link" href="{{ website.data.link }}"></a>
                </article>
            </div>
        {%- endfor -%}
        <p class="projects__tag">Minecraft</p>
        {%- for minecraft in collections.pminecraft | reverse -%}
            <div class="projects__list">
                <article class="project">
                    <img class="project__image" src="{{ minecraft.url }}1.jpg" alt="#">
                    <h2 class="project__title">{{ minecraft.data.title }}</h2>
                    <p class="project__subtitle">{{ minecraft.data.desc }}</p>
                    <a class="project__link" href="{{ minecraft.data.link }}"></a>
                </article>
            </div>
        {%- endfor -%}
    </div>
</main>
