---
title: Articles
layout: page.njk
permalink: projects.html
---

<main class="main">
    <div class="lop__container container">
        <h2 class="lop__heading-title">Websites</h2>
        <div class="lop__wrapper">
            {%- for project in collections.pwebsite | reverse -%}
                <article class="lop">
                    <img class="lop__image" src="{{ project.url }}1.jpg" alt="{{ project.data.title }}">
                    <h3 class="lop__title">{{ project.data.title }}</h3>
                    <p class="lop__preview">{{ project.data.desc }}</p>
                    <a class="lop__link" href="{{ project.data.link }}"></a>
                </article>
            {%- endfor -%}
        </div>

        <h2 class="lop__heading-title">Minecraft</h2>
        <div class="lop__wrapper">
            {%- for project in collections.pminecraft | reverse -%}
                <article class="lop">
                    <img class="lop__image" src="{{ project.url }}1.jpg" alt="{{ project.data.title }}">
                    <h3 class="lop__title">{{ project.data.title }}</h3>
                    <p class="lop__preview">{{ project.data.desc }}</p>
                    <a class="lop__link" href="{{ project.data.link }}"></a>
                </article>
            {%- endfor -%}
        </div>

        <h2 class="lop__heading-title">Utilities</h2>
        <div class="lop__wrapper">
            {%- for project in collections.putilities | reverse -%}
                <article class="lop">
                    <img class="lop__image" src="{{ project.url }}1.jpg" alt="{{ project.data.title }}">
                    <h3 class="lop__title">{{ project.data.title }}</h3>
                    <p class="lop__preview">{{ project.data.desc }}</p>
                    <a class="lop__link" href="{{ project.data.link }}"></a>
                </article>
            {%- endfor -%}
        </div>
    </div>
</main>