@media (max-width: 1600px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 50px;
    }

    .nav-link {
        font-size: 25px;
    }

    .intro-title {
        width: 1000px;
    }

    .intro-title .subtitle {
        font-size: 35px;
    }

    /* Projects */

    .project-title {    
        width: 1012px;
    }

    .project-more {
        font-size: 20px;
    }

    .article-img {
        height: 300px;
    }

    .article-title {
        font-size: 35px;
    }

    .article-desc-project-recent {
        font-size: 18px;
    }

    .article-content {
        width: 400px;
    }

    .project-slogan {
        font-size: 25px;
    }

    .article-more {
        font-size: 16px;
    }

    /* Social media */

    .social-bar {
        height: 70px;
        width: 280px;
        font-size: 30px;
    }

    .social-icon {
        height: 50px;
    }

    /* Footer */

    .footer-tab-title {
        font-size: 18px;
    }

    .footer-tab-link {
        font-size: 13px;
    }

    .footer-credits-text {
        font-size: 18px;
    }

    .copyright-text {
        font-size: 14px;
    }
}
@media (max-width: 1080px) {
    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 45px;
    }

    .nav-link {
        font-size: 20px;
    }

    .intro-title {
        width: 850px;
    }

    .intro-title .subtitle {
        font-size: 30px;
    }

    /* Projects */

    .project-title {    
        width: 794px;
    }

    .project-more {
        font-size: 18px;
    }

    .article {
        width: 500px;
    }

    .article-img {
        height: 250px;
    }
    
    .article-title {
        font-size: 30px;
        text-align: center;
    }

    .article-desc-project-recent {
        text-align: center;
        height: 44px;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        margin-top: 5px;
    }

    .article-content {
        width: 300px;
        margin: 0px;
        padding: 15px 0 0px 0;
    }

    .article-more {
        display: none;
    }

    .project-slogan {
        font-size: 20px;
    }
    .article-more {
        font-size: 15px;
    }

    .center {
        padding: 0;
    }

    /* Social media */

    .social-bar {
        height: 70px;
        width: 280px;
        font-size: 25px;
    }

    .social-icon {
        height: 50px;
    }

    .social-coll {
        width: 40%;
        margin-bottom: 20px;
    }

    .social-coll:last-child {
        margin-bottom: 0;
    }

    /* Footer */

    .footer-tab-title {
        font-size: 16px;
    }

    .footer-tab-link {
        font-size: 14px;
    }

    .footer-credits-text {
        font-size: 16px;
    }

    .copyright-text {
        font-size: 14px;
    }
}
@media (max-width: 720px) {
    .project-more-container {
        position: static;
        display: flex;
        justify-content: center;
    }

    .project-title {
        display: block;
    }

    .article {
        margin: 15px 0;
    }

    .article-img {
        height: 210px;
    }

}

@media (max-width: 810px) {
    .social-bar {
        width: 70px;
        padding: 0;
        border-radius: 20px;
    }

    .social-bar-title {
        display: none;
    }

    .social-title {
        width: 100%;
        margin-bottom: 8px;
    }
}

@media (max-width: 428px) {
    .nav {
        width: 100px;
    }

    .nav-link {
        padding: 8px;
    }

    .intro-title {
        width: 400px;
    }

    h1 {
        font-size: 40px;
    }

    .intro-title .subtitle {
        font-size: 20px;
    }

    .article-img {
        height: 180px;
        border-radius: 40px;
    }

    .article-content {
        text-align: center;
    }

    .article-more {
        display: none;
    }
    
    /* Projects */

    h2 {
        font-size: 30px;
    }

    .article-title {
        font-size: 25px;
    }

    .article-desc-project-recent {
        font-size: 18px;
    }
    
    .project-more {
        font-size: 18px;
        padding: 10px;
    }

    .article-img {
        height: 160px;
    }

    .icon {
        height: 60px;
        width: 60px;
    }

    /* Social media */

    .social-coll {
        width: 100%;
    }

    /* Footer */

    .footer-credits {
        display: none;
    }

    .footer-tab-container {
        margin: 0;
    }

    .footer-tab-container:nth-last-child(2) {
        text-align: center;
    }

    .footer-tab-container:nth-last-child(1) {
        text-align: right;
    }

    .footer-tab {
        width: 100%;
        justify-content: space-between;
    }
}