---
layout: page.njk
---

<main class="main">
    <section class="main__section">
        <div class="article__heading">
            <time class="article__heading--date" datetime="{{ date.toISOString() }}">{{ date | ruDate }}</time>
            <h1 class="article__heading--title">{{ title }}</h1>
            <p class="article__heading--tag">{{ tags | join(', ') }}</p>
            <img class="article__heading--image" src="images/preview.jpg" alt="{{title}}">
            <a class="article__heading--edit" href="https://github.com/SolinCode/solinofficial.com/blob/main/src{{page.url}}index.md">Редактировать статью</a>
        </div>
        <div class="article__content">
            <p style="margin: 30px 0;">{{ preview }}</p>

            {{ content | safe }}
        </div>
        <p class="notice">
            <a class="notice__link" href="/">На главную</a>
        </p>
    </section>
</main>
