---
layout: page.njk
---

<main class="main">
    <div class="article__container container">
        <div class="container__inner">
            <div class="article__heading">
                <h1 class="article__heading--title">{{ title }}</h1>
                <time class="article__heading--date" datetime="{{ date.toISOString() }}">{{ date | ruDate }}</time>
                <p class="article__heading--preview">{{ preview }}</p>
                <p class="tags">
                    {% for tag in tags | prettyTags %}
                        <span class="tags__item">
                            {{ tag }}
                        </span>
                    {% endfor %}
			    </p>
                <img class="article__heading--image" src="images/preview.jpg" alt="{{title}}">
                <a class="article__heading--link" href="https://github.com/mentalsolin/blog.solin.me/blob/main/src{{page.url}}index.md">Редактировать статью на GitHub</a>
            </div>
            <div class="ad">
                <div class="ad__logo">
                    <img class="ad__logo--img" src="/images/logos/lp.png" alt="Let's Play Logo">
                    <p class="ad__logo--title">Let's Play</p>
                    <p class="ad__logo--subtitle">Discord-сервер</p>
                </div>
                <p class="ad__desc">Играем в любимые игры, веселимся и делимся новостями из жизни!</p>
                <a class="ad__link" href="{{ links.advertisements.letsplay }}"></a>
            </div>
            <div class="content">
                {{ content | safe }}
            </div>
            <p class="notice">
                <a class="notice__link" href="/index.html">Все статьи</a>
            </p>
        </div>
    </div>
</main>