<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="title" content="{{title}} — Solin's Blog"/>
    <meta property="description" content="{% if page.url != '/' %}{{preview}}{% else %}Погрузитесь в цифровую реальность, где сходятся программирование, дизайн и Minecraft.{% endif %}"/>

    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{% if page.url != '/' %}{{preview}}{% else %}Погрузитесь в цифровую реальность, где сходятся программирование, дизайн и Minecraft.{% endif %}"/>
    <meta property="og:image" content="{{"https://blog.solin.cc" + page.url + "images/preview.jpg"}}"/>
    <meta property="og:url" content="https://blog.solin.cc{% if page.url != '/' %}{{page.url}}{% endif %}"/>
    <meta property="og:site_name" content="Solin's Blog"/>

    {% if page.url != '/' %}
        <meta property="og:title" content="{{title}}">
        <meta property="og:type" content="article" />
        <meta property="og:description" content="{{preview}}">
        <meta property="og:image" content="{{"https://blog.solin.cc" + page.url + "images/preview.jpg"}}">
        <meta property="og:url" content="https://blog.solin.cc{{page.url}}">
        <meta name="twitter:card" content="summary_large_image">
    {% endif %}

    <meta name="theme-color" content="#E3DBD7">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=JetBrains+Mono&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="icon" href="https://solin.cc/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/print.css" media="print">

    <title>{{title}}{% if page.url != '/' %} — Solin's Blog{% endif %}</title>
</head>
<body class="page__body">
    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}

    <script type="module" src="/scripts/index.js"></script>
</body>
</html>
